.done {
    color: #3ee63e;
    text-decoration: line-through solid black 2px;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    transition: transform 0.3s , box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.card p {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

ul {
    padding: 20px;
}

li {
    margin-bottom: 10px;
}